<div id="<%= dom_id product %>">
  
  <p>
    <strong>Merchant:</strong>
    <%= Merchant.find(product.merchant_id).email %>
  </p> 
  
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= product.categorie_id %>
    <%= product.categorie.name %>
  </p>

    
  <p> 
    <strong>Description:</strong>
    <%= product.description %>
  </p>
  
  <%= render 'productimages/form' %>

  <p>
    <strong>Image:</strong>
    <img src="<%= product.image %>" style = "width:10% ">
  </p>

  
</div>
