<%= form_with model: @productimages do |form| %>
  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.collection_select :product_id, Product.all, :id, :name %>
  </div>
  
  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
