<p style="color: green"><%= notice %></p>

<%= render @productimage %>

<div>
  <%= link_to "Edit image", edit_product_productimage_path %><br>
  <%= link_to "Back to productimages", product_productimages_path %>
  <%= button_to "Delete image", product_productimage_path, method: :delete %>
</div>
